<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/img/barangay-logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/alert.css" />
    <link rel="stylesheet" href="/css/specificHousehold.css" />
    <title><%= title %></title>
    <style></style>
  </head>
  <body>
    <%- include('../partials/success') %> <%- include('../partials/error') %>

    <nav class="first-nav">
      <span class="brand"
        ><img src="/img/barangay-logo.png" class="nav-logo" alt="" /> Barangay
        Records</span
      >
      <ul class="nav-actions-wrap">
        <li class="dashboard">
          <a href="/admin/">Dashboard</a>
          <ul class="nav-links">
            <li>
              <img src="/img/people.svg" class="people-svg" alt="" /><a
                href="/admin/household"
                class="link-active"
                >Barangay Households</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main>
      <nav class="second-nav">
        <span class="admin">
          <img src="/img/profile.svg" class="nav-profile-img" /> <%=
          `${currentUser.name}`%> ▼
          <ul class="dropdown">
            <li><a href="/logout">Log-out</a></li>
          </ul>
        </span>
      </nav>
      <div class="content">
        <h1>Resident's Household</h1>
        <div class="content-wrapper">
          <section class="resident-profile">
            <span class="resident-about">About Resident</span>
            <div class="resident-info">
              <img src="/img/profile.svg" class="profile-icon" alt="" />
              <span class="resident-name"><%= registree.fullName %></span>
            </div>
          </section>
          <section class="resident-household">
            <span class="household-members">Household Members</span>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Birthday</th>
                  <th>Relationship</th>
                  <th>Marital Status</th>
                  <th>Educ. Attainment</th>
                </tr>
              </thead>
              <tbody>
                <% for(member of registree.household){ %>
                <tr>
                  <th><%= member.name %></th>
                  <th><%= member.gender %></th>
                  <th><%= member.birthday %></th>
                  <th><%= member.relationship %></th>
                  <th><%= member.maritalStatus %></th>
                  <th><%= member.education %></th>
                </tr>
                <% } %>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </main>

    <script src="/js/adminDropdown.js"></script>
  </body>
</html>
